<table>
  <tr>
    <th>Here is a post!!</th>
  </tr>
  <tr>
    <td>Title: <%=@post.title%></td>
  </tr>
  <tr>
    <td>Body: <%=@post.body%></td>
  </tr>
</table>
<br>

<a href="/post/new">Click here to make a new post</a>
