<table>
  <tr>
    <th>Here is a post!!</th>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><%=@post.title%></td>
  </tr>
  <tr>
    <td><%=@post.body%></td>
  </tr>

</table>

<table>
  
</table>
